@using NSemble.Core
@using NSemble.Core.Extensions
@using NSemble.Core.Models
@using NSemble.Web.Core
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NSemble.Modules.ContentPages.Models.ContentPage>
              
@{
  Layout = "_AdminLayout.cshtml";
}

<h2>@{ if (Model.Id == null) {<text>Add</text>} else {<text>Edit</text>}  }</h2>

@section HeadArea {
    <script type="text/javascript" src="/Content/Scripts/MarkdownDeepLib.min.js"></script>
    <link rel="stylesheet" href="/Content/Scripts/mdd_styles.css">
}

<form method="post">
    @{ //Html.ValidationSummary(true) }
 	<fieldset>
		<legend>ContentPage</legend>

		<div class="editor-label">
			Title
		</div>
		<div class="editor-field">
			<input type="text" name="Title" value="@Model.Title" />
		</div>

		@if (Model.ContentType == DynamicContentType.Markdown)
		{
			<div class="editor-label">
				@Html.LabelFor(model => model.Content)
			</div>
			<div class="editor-field">
			    <div class="mdd_toolbar"></div>
				<textarea name="Content" rows="20" cols="80" class="mdd_editor">@Model.Content</textarea>
				<div class="mdd_resizer"></div>
				<div class="mdd_preview"></div>
			</div>

			<script type="text/javascript">
                $("textarea.mdd_editor").MarkdownDeep({
                        help_location: "@Url.Content("~/Static/Scripts/mdd_help.htm")",
                        disableTabHandling: true
                    });
            </script>
		}
		else
		{
			<div class="editor-label">
				Content
			</div>
			<div class="editor-field">
			    <textarea name="Content" rows="20" cols="120">@Model.Content</textarea>
			</div>
		}

		<p>
			<input type="submit" value="Save" />
		</p>
	</fieldset>
</form>
