@using Nancy.Helpers
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@Model.Page.PrefixTitle @HttpUtility.HtmlEncode(Model.Page.Title)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

    @RenderSection("HeadArea", required: false)
</head>
<body>
    <div class="container">
        @RenderBody()

        <hr>

        <footer id="footer">
            <p class="pull-right"><a href="#">Back to top</a></p>
            <div class="links">
                
            </div>
            <a href="https://github.com/synhershko/NSemble" target="_blank">NSemble</a> - assemble this.
        </footer>

    </div>
    <!-- /container -->
    
    @RenderSection("FooterArea", required: false)
</body>
</html>
