@using NSemble.Core.Extensions
@using NSemble.Modules.Blog.Helpers
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "_BlogLayout.cshtml";
    var firstPost = true;
}

@if (Model.BlogPosts.Count > 0)
{
    foreach (var post in Model.BlogPosts)
    {
        var postUrl = UrlHelpers.ToUrl(post, (string)ViewBag.AreaRoutePrefix);
        <article class="post">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="post-title"><a href="@postUrl">@post.Title</a></h3>
                    <div class="row">
                        <div class="col-lg-12">
                            @NSemble.Core.Extensions.DynamicContentHelpers.CompiledContent(post, true, firstPost ? 1200 : 300)
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-lg-10 col-md-9 col-sm-8">
                            <span class="date">@HtmlExtensions.Html5DateTimeTag(post.PublishedAt)</span>
                            <span class="comments"><a href="@postUrl#comments">@UrlHelpers.CommentsCountText(post)</a></span>
                            <br /><span class="tags">@UrlHelpers.TagLinks((string)ViewBag.AreaRoutePrefix, post.Tags)</span>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4">
                            <a href="@postUrl" class="pull-right">Read more &raquo;</a>
                        </div>
                    </div>
                </div>
            </div>
        </article>

        if (firstPost)
        {
            firstPost = false;
        }
    }

    <p style="text-align: center">Showing @Model.BlogPosts.Count posts out of @Model.TotalBlogPosts total, page @Model.CurrentPage</p>
    <p style="text-align: center">
        @if (Model.CurrentPage > 1)
        {
            <a href="@UrlHelpers.BlogUrl((string) ViewBag.AreaRoutePrefix, (int?) Model.Year, (int?) Model.Month, null, (int) Model.CurrentPage - 1)">Previous page</a>
        }

        @if ((Model.CurrentPage*Model.PageSize) < Model.TotalBlogPosts)
        {
            <a href="@UrlHelpers.BlogUrl((string) ViewBag.AreaRoutePrefix, (int?) Model.Year, (int?) Model.Month, null, (int) Model.CurrentPage + 1)">Next page</a>
        } 
    </p>
}
else
{
    <div class="alert alert-warning">No posts found!</div>
}