@using System
@using System.Linq;
@using NSemble.Core.Extensions
@using NSemble.Modules.Blog.Helpers
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "_BlogLayout.cshtml";
    var firstPost = true;
}

@if (!String.IsNullOrWhiteSpace(Model.ListTitle))
{
    <h3>@Model.ListTitle</h3>
}

@foreach (var post in Model.BlogPosts)
{
    var postUrl = UrlHelpers.ToUrl(post, (string) ViewBag.AreaRoutePrefix);
    <h3><a href="@postUrl">@post.Title</a></h3>
    
    <div>
        @if (firstPost)
        {
            @NSemble.Core.Extensions.DynamicContentHelpers.CompiledContent(post)
        }
        <small>Published: @HtmlExtensions.Html5DateTimeTag(post.PublishedAt) under the tags @UrlHelpers.TagLinks((string)ViewBag.AreaRoutePrefix, post.Tags) | <a href="@postUrl#comments">Comments (@post.CommentsCount)</a></small>
    </div>
    <hr/>
    if (firstPost)
    {
        <h3>Other recent posts</h3>
        firstPost = false;
    }
}

<p style="text-align: center">Showing @Model.BlogPosts.Count posts out of @Model.TotalBlogPosts total, page @Model.CurrentPage</p>
<p style="text-align: center">
   @if (Model.CurrentPage > 1)
   {
       <a href="@UrlHelpers.BlogUrl((string)ViewBag.AreaRoutePrefix, (int?)Model.Year, (int?)Model.Month, null, (int) Model.CurrentPage - 1)">Previous page</a>
   }

   @if ((Model.CurrentPage * Model.PageSize) < Model.TotalBlogPosts)
   {
       <a href="@UrlHelpers.BlogUrl((string)ViewBag.AreaRoutePrefix, (int?)Model.Year, (int?)Model.Month, null, (int) Model.CurrentPage + 1)">Next page</a>
   } 
</p>