@using System
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "_BlogLayout.cshtml";
}

<h3>@Model.ListTitle</h3>

@foreach (var post in Model.BlogPosts)
{
    <h3><a href="@NSemble.Modules.Blog.Helpers.BlogPostHelpers.ToUrl(post, (string) Model.AreaPrefix)">@post.Title</a></h3>
    
    <div>
        @NSemble.Core.Extensions.DynamicContentHelpers.CompiledContent(post)
    </div>
    <div style="background-color: #ccc">Published: @post.PublishedAt under the tags @String.Join(", ", post.Tags) | Comments (@post.CommentsCount)</div>
    <hr/>
}

<p>Showing @Model.BlogPosts.Count posts out of @Model.TotalBlogPosts total</p>