@using System
@using NSemble.Modules.Blog.Helpers
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "_BlogLayout.cshtml";
}

<h3>@Model.ListTitle</h3>

@foreach (var post in Model.BlogPosts)
{
    <h3><a href="@UrlHelpers.ToUrl(post, (string) ViewBag.AreaPrefix)">@post.Title</a></h3>
    
    <div>
        @NSemble.Core.Extensions.DynamicContentHelpers.CompiledContent(post)
    </div>
    <div style="background-color: #ccc">Published: @post.PublishedAt under the tags @String.Join(", ", post.Tags) | Comments (@post.CommentsCount)</div>
    <hr/>
}

<p style="text-align: center">Showing @Model.BlogPosts.Count posts out of @Model.TotalBlogPosts total, page @Model.CurrentPage</p>
<p style="text-align: center">
   @if (Model.CurrentPage > 1)
   {
       <a href="@UrlHelpers.BlogUrl((string)ViewBag.AreaPrefix, (int?)Model.Year, (int?)Model.Month, null, (int) Model.CurrentPage - 1)">Previous page</a>
   }
   @if ((Model.CurrentPage * Model.PageSize) < Model.TotalBlogPosts)
   {
       <a href="@UrlHelpers.BlogUrl((string)ViewBag.AreaPrefix, (int?)Model.Year, (int?)Model.Month, null, (int) Model.CurrentPage + 1)">Next page</a>
   } 
</p>