@using NSemble.Modules.Blog.Models
@using NSemble.Core.Models
@using NSemble.Core.Extensions
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "_BlogLayout.cshtml";
    BlogPost post = Model.BlogPost;
}

<div>
    <h3>@Model.BlogPost.Title</h3>
    <small>Posted @HtmlExtensions.Html5DateTimeTag(post.PublishedAt)</small>
</div>

<hr/>

<div>@NSemble.Core.Extensions.DynamicContentHelpers.CompiledContent(Model.BlogPost)</div>

<hr/>
<div>
    <a name="comments"></a>
    <p><strong>Comments</strong></p>
    @if (Model.Comments != null)
    {
        foreach (var comment in Model.Comments.Comments)
        {
            <div>
                @NSemble.Modules.Blog.Helpers.BlogPostHelpers.Gravatar(comment, 48)

                @NSemble.Core.Extensions.DynamicContentHelpers.CompiledStringContent(comment.Content, DynamicContentType.Markdown, false)
            </div>
        }
    }        
    
    <hr />

    <div style="text-align: center">Comments are closed</div>
</div>