@using System.Linq
@using NSemble.Modules.Blog.Helpers
@using NSemble.Modules.Blog.Models
@using NSemble.Core.Models
@using NSemble.Core.Extensions
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "_BlogLayout.cshtml";
    BlogPost post = Model.BlogPost;
}

<article>
    <h1>@Model.BlogPost.Title</h1>
    <div class="meta">
        <span class="date">@post.PublishedAt.Html5DateTimeTag()</span>
        <span class="tags">@UrlHelpers.TagLinks((string)ViewBag.AreaRoutePrefix, post.Tags)</span>
        <span class="comments"><a href="#comments">@post.CommentsCountText()</a></span>
    </div>

    @NSemble.Core.Extensions.DynamicContentHelpers.CompiledContent(Model.BlogPost)
</article>

<section>
    <a name="comments"></a>
    @if (Model.Comments != null)
    {
        <h2 class="post-title">Comments</h2>
        <ul class="list-unstyled">
            @foreach (PostComments.Comment comment in Model.Comments.Comments)
            {
                <li class="comment">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            @NSemble.Modules.Blog.Helpers.BlogPostHelpers.Gravatar(comment, 100, @"class=""imageborder alignleft""")
                            @NSemble.Core.Extensions.DynamicContentHelpers.CompiledStringContent(comment.Content, DynamicContentType.Markdown, false)
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-lg-10 col-md-9 col-sm-8">
                                    <i class="fa fa-user"> </i> <a href="@comment.Website" rel="nofollow">@comment.Author</a> <i class="fa fa-clock-o"></i> @comment.CreatedAt.Html5DateTimeTag()
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-4">
                                    <a href="#" class="pull-right">Reply</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                if (comment.Replies.Any())
                {
                    <ul class="list-unstyled sub-comments">
                        @foreach (var r in comment.Replies)
                        {
                            <li class="comment">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        @NSemble.Modules.Blog.Helpers.BlogPostHelpers.Gravatar(r, 100, @"class=""imageborder alignleft""")
                                        @NSemble.Core.Extensions.DynamicContentHelpers.CompiledStringContent(r.Content, DynamicContentType.Markdown, false)
                                    </div>
                                    <div class="panel-footer">
                                        <div class="row">
                                            <div class="col-lg-10 col-md-9 col-sm-8">
                                                <i class="fa fa-user"> </i> <a rel="nofollow" href="@r.Website">@r.Author</a> <i class="fa fa-clock-o"></i> @r.CreatedAt.Html5DateTimeTag()
                                            </div>
                                            <div class="col-lg-2 col-md-3 col-sm-4">
                                                <a href="#" class="pull-right">Reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                }
            }
        </ul>
    }
    else
    { <h2 class="post-title">No comments posted so far</h2> }
</section>

        
    @{
        var postUrl = UrlHelpers.ToUrl(post, (string) ViewBag.AreaRoutePrefix);
        var commentInput = new NSemble.Modules.Blog.Models.PostComments.CommentInput();
    }
<section class="comment-form">
    <h2 class="post-title">Leave a Comment</h2>
    <form method="post" action="@postUrl/new-comment">
        <div class="form-group">
            <label for="inputName">Name</label>
            <input type="text" name="Author" value="@commentInput.Author" class="form-control" id="inputName" placeholder="Your name">
        </div>
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input name="Email" value="@commentInput.Email" type="email" class="form-control" id="inputEmail" placeholder="example@example.com">
        </div>
        <div class="form-group">
            <label for="inputName">Website (optional)</label>
            <input type="text" name="Website" value="@commentInput.Website" class="form-control" id="inputName" placeholder="http://mywebsite.com">
        </div>
        <div class="form-group">
            <label for="inputMessage">Your comment</label>
            <textarea class="form-control" id="inputMessage" rows="6" name="Body">@commentInput.Body</textarea>
        </div>
        <div class="form-group">
            <label for="inputName">Human verification</label>
            <input type="text" name="HumanVerification" value="" class="form-control" id="inputName" placeholder="2 * 4 = ?">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>      